/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
*{
    padding: 0;
    margin: 0;
}

/*---------opdracht 1--------*/

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*------opdracht 2.2-----------*/
.two {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
}

.align-self {
    align-self: flex-end;
    text-align: right;
}

/*--------opdracht 2.3--------*/

.three {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding-left: 50px;
}


/*---------opdracht 2.4------------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding-left: 200px;
}



/*-------------opdracht 2.5-------------*/

.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
}

.wrap {
    flex-wrap: wrap;
}

.align-content {
    align-content: flex-end;
}


